.content-checkout{
    display: flex;
    justify-content: center;
    margin: 22px auto;
    padding: 1rem;
    width: 600px;
    
}
.content-checkout .checkout{
    width: 300px;
    margin-left: 30px;
}
.content-checkout h3{
    color: var(--red-izi);
    margin-bottom: 1rem;
}
.content-checkout .control-group{
    margin: 10px auto;
    padding: 5px;
    position: relative;
    width: 100%;
}
.content-checkout .control-group label{
    align-items: center;
    color: var(--green-izi);
    display: flex;
    font-size: 16px;
    font-weight: 300;
    left: 5px;
    top: 12px;
    pointer-events: none;
    position: absolute;
    transition: all .2s ease;
}
.content-checkout .control-group input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid var(--green-izi);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    outline: none;
    width: 100%;
}
.content-checkout .control-group input:required{
    box-shadow: none;
}

.content-checkout button{
    appearance: button;
    background-color: var(--white-izi);
    border: 1px solid var(--red-izi);
    border-radius: 3px;
    color: var(--red-izi);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    margin-top: 2rem;
    position: relative;
    width: 190px;
}
.content-checkout button:hover{
    top: 0;
    left: 0;
    width: 190px;
    height: 42px;
    background-color: rgba(255, 94, 94, 0.1);
    /* opacity: .3; */
}

.cart{
    margin-right: 30px;
    width: 300px;
}